<h2>Parts of tutorial: </h2>
<div style="display: flex;">

  <ul>
    <h3>Junior:</h3>
    <li>
      <h4><a routerLink="junior/1">Part1</a></h4>
    </li>
    <li>
      <h4><a routerLink="junior/2">Part2</a></h4>
    </li>
    <li>
      <h4><a routerLink="junior/3">Part3</a></h4>
    </li>
    <li>
      <h4><a routerLink="junior/4">Part4</a></h4>
    </li>
    <li>
      <h4><a routerLink="junior/5">Part5</a></h4>
    </li>
    <li>
      <h4><a routerLink="junior/6">Part6</a></h4>
    </li>
  </ul>

  <ul>
    <h3>Middle:</h3>
    <li>
      <h4><a routerLink="middle/1">Part1</a></h4>
    </li>
    <li>
      <h4><a routerLink="middle/2">Part2</a></h4>
    </li>
    <li>
      <h4><a routerLink="middle/3">Part3</a></h4>
    </li>
    <li>
      <h4><a routerLink="middle/4">Part4</a></h4>
    </li>
    <li>
      <h4><a routerLink="middle/5">Part5</a></h4>
    </li>
    <li>
      <h4><a routerLink="middle/6">Part6</a></h4>
    </li>
    <li>
      <h4><a routerLink="middle/7">Part7</a></h4>
    </li>
    <li>
      <h4><a routerLink="middle/8">Part8</a></h4>
    </li>
    <li>
      <h4><a routerLink="middle/9">Part9</a></h4>
    </li>
  </ul>

  <ul>
    <h3>Senior:</h3>
    <li>
      <h4><a routerLink="senior/1">Part1</a></h4>
    </li>
    <li>
      <h4><a routerLink="senior/2">Part2</a></h4>
    </li>
    <li>
      <h4><a routerLink="senior/3">Part3</a></h4>
    </li>
    <li>
      <h4><a routerLink="senior/4">Part4</a></h4>
    </li>
  </ul>

</div>

